<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conta - ADD</title>
</head>
<body>
    <form method="post">
        Numero: <input type="number" name="numero1" placeholder="numero"><br>
        Numero: <input type="number" name="numero2" placeholder="numero"><br>
        Operação:  <select name = "Operação" placeholder = "operador">
            <option value = "somar">+</option>
            <option value = "subtrar">-</option>
            <option value = "multiplicar">*</option>
            <option value = "dividir">/</option>
        </select> <br><br>
        <input type="submit" name="Enviar">
        <hr>    
        <a href="/conta"><font size="+3">----> RESULTADOS <---- </font> </a>
    </form>
    <h2><%=msg%></h2>
</body>
</html>